SWY-ValidacionIdentidad/src/main/resources/META-INF/wsdl/ConEmpresasGenerica2_Out_1.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="ConEmpresasGenerica2_Out"
	targetNamespace="http://www.osde.com.ar/PUB/CCG/Empresas_Gen2"
	xmlns:p2="http://www.osde.com.ar/PUB/CCG/Empresas_Gen2/response"
	xmlns:p1="http://www.osde.com.ar/PUB/CCG/Empresas_Gen2" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy"
	xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
	<wsdl:documentation />
	<wsp:UsingPolicy wsdl:required="true" />
	<wsp:Policy wsu:Id="OP_ConEmpresasGenerica2_Out" />
	<wsdl:types>
		<xsd:schema targetNamespace="http://www.osde.com.ar/canonicos/DT"
			xmlns="http://www.osde.com.ar/canonicos/DT" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:complexType name="header">
				<xsd:annotation>
					<xsd:appinfo source="http://sap.com/xi/VersionID">cfb11044a55911dfad940000004308be
					</xsd:appinfo>
				</xsd:annotation>
				<xsd:sequence>
					<xsd:element name="message" type="xsd:string" />
				</xsd:sequence>
			</xsd:complexType>
		</xsd:schema>
		<xsd:schema targetNamespace="http://www.osde.com.ar/PUB/CCG/Empresas_Gen2"
			xmlns:p6="http://www.osde.com.ar/canonicos/DT" xmlns="http://www.osde.com.ar/PUB/CCG/Empresas_Gen2"
			xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:import namespace="http://www.osde.com.ar/canonicos/DT" />
			<xsd:complexType name="IPARAMETROS">
				<xsd:annotation>
					<xsd:appinfo source="http://sap.com/xi/VersionID">31291a0ae12c11dfc3a40000004308be
					</xsd:appinfo>
				</xsd:annotation>
				<xsd:sequence>
					<xsd:element name="IC_UF" type="xsd:string" minOccurs="0">
						<xsd:annotation>
							<xsd:appinfo source="http://sap.com/xi/TextID">50b07f91e12c11df89cdf07bcb336faf
							</xsd:appinfo>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="CON_UF" type="xsd:string" minOccurs="0">
						<xsd:annotation>
							<xsd:appinfo source="http://sap.com/xi/TextID">50b07f92e12c11dfa493f07bcb336faf
							</xsd:appinfo>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="envelope">
				<xsd:annotation>
					<xsd:appinfo source="http://sap.com/xi/VersionID">ca5d192ae5d011dfaad50000004308be
					</xsd:appinfo>
				</xsd:annotation>
				<xsd:sequence>
					<xsd:element name="header" type="p6:header">
						<xsd:annotation>
							<xsd:appinfo source="http://sap.com/xi/TextID">b4aaabcde5d011dfbf8ff07bcb336faf
							</xsd:appinfo>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="body">
						<xsd:complexType>
							<xsd:sequence>
								<xsd:element name="IPARAMETROS" type="IPARAMETROS" />
							</xsd:sequence>
						</xsd:complexType>
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>
		</xsd:schema>
		<xsd:schema xmlns:p21="http://www.osde.com.ar/PUB/CCG/Empresas_Gen2"
			xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:import namespace="http://www.osde.com.ar/PUB/CCG/Empresas_Gen2" />
			<xsd:element name="envelope" type="p21:envelope" />
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="envelope">
		<wsdl:documentation />
		<wsdl:part name="envelope" element="envelope" />
	</wsdl:message>
	<wsdl:message name="p2.envelope">
		<wsdl:documentation />
		<wsdl:part name="envelope" element="envelope" />
	</wsdl:message>
	<wsdl:portType name="ConEmpresasGenerica2_Out">
		<wsdl:documentation />
		<wsdl:operation name="ConEmpresasGenerica2_Out">
			<wsdl:documentation />
			<wsp:Policy>
				<wsp:PolicyReference URI="#OP_ConEmpresasGenerica2_Out" />
			</wsp:Policy>
			<wsdl:input message="p1:envelope" />
			<wsdl:output message="p1:p2.envelope" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="ConEmpresasGenerica2_OutBinding" type="p1:ConEmpresasGenerica2_Out">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="ConEmpresasGenerica2_Out">
			<soap:operation soapAction="http://sap.com/xi/WebService/soap1.1" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="XI_b04ec8fe726d39caba8115ca9cba5805_Service">
		<wsdl:port name="HTTP_Port" binding="p1:ConEmpresasGenerica2_OutBinding">
			<soap:address
				location="http://localhost:8088/mockConEmpresasGenerica2_OutBinding" />
		</wsdl:port>
		<wsdl:port name="HTTPS_Port" binding="p1:ConEmpresasGenerica2_OutBinding" />
	</wsdl:service>
</wsdl:definitions>