ConsultaEmpresaGenerica1CCG/src/main/resources/META-INF/wsdl/ConEmpresasGenerica1Out.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="ConEmpresasGenerica1_Out"
	targetNamespace="http://www.osde.com.ar/PUB/CCG/Empresas_Gen1"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:p2="http://www.osde.com.ar/PUB/CCG/Empresas_Gen1/response"
	xmlns:p1="http://www.osde.com.ar/PUB/CCG/Empresas_Gen1" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy"
	xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
	<wsdl:documentation />
	<wsp:UsingPolicy wsdl:required="true" />
	<wsp:Policy wsu:Id="OP_ConEmpresasGenerica1_Out" />
	<wsdl:types>
		<xsd:schema targetNamespace="http://www.osde.com.ar/canonicos/DT"
			xmlns="http://www.osde.com.ar/canonicos/DT" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:complexType name="header">
				<xsd:annotation>
					<xsd:appinfo source="http://sap.com/xi/VersionID">cfb11044a55911dfad940000004308be
					</xsd:appinfo>
				</xsd:annotation>
				<xsd:sequence>
					<xsd:element name="message" type="xsd:string" />
				</xsd:sequence>
			</xsd:complexType>
		</xsd:schema>
		<xsd:schema targetNamespace="http://www.osde.com.ar/PUB/CCG/Empresas_Gen1"
			xmlns:p6="http://www.osde.com.ar/canonicos/DT" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
			xmlns="http://www.osde.com.ar/PUB/CCG/Empresas_Gen1">
			<xsd:import namespace="http://www.osde.com.ar/canonicos/DT" />
			<xsd:complexType name="envelope">
				<xsd:annotation>
					<xsd:appinfo source="http://sap.com/xi/VersionID">229f71e1d30011dfb29f0000004308be
					</xsd:appinfo>
				</xsd:annotation>
				<xsd:sequence>
					<xsd:element name="header" type="p6:header">
						<xsd:annotation>
							<xsd:appinfo source="http://sap.com/xi/TextID">6b550883d30011dfc51b4487fc718183
							</xsd:appinfo>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="body" minOccurs="0">
						<xsd:annotation>
							<xsd:appinfo source="http://sap.com/xi/TextID">6b550885d30011df91824487fc718183
							</xsd:appinfo>
						</xsd:annotation>
						<xsd:complexType>
							<xsd:sequence>
								<xsd:element name="IPARAMETROS" type="IPARAMETROS"
									minOccurs="0">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">6b550884d30011dfa31f4487fc718183
										</xsd:appinfo>
									</xsd:annotation>
								</xsd:element>
							</xsd:sequence>
						</xsd:complexType>
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="IPARAMETROS">
				<xsd:annotation>
					<xsd:appinfo source="http://sap.com/xi/VersionID">188d7cfed30011dfc1e20000004308be
					</xsd:appinfo>
				</xsd:annotation>
				<xsd:sequence>
					<xsd:element name="RAZONSOCIAL1" type="xsd:string"
						minOccurs="0" />
					<xsd:element name="RAZONSOCIAL2" type="xsd:string"
						minOccurs="0" />
					<xsd:element name="UNIDADFACT" type="xsd:string"
						minOccurs="0" />
					<xsd:element name="IC" type="xsd:string" minOccurs="0" />
					<xsd:element name="TIPDOC" type="xsd:string" minOccurs="0" />
					<xsd:element name="NRODOC" type="xsd:string" minOccurs="0" />
					<xsd:element name="TELEFONO" type="xsd:string"
						minOccurs="0" />
					<xsd:element name="EMAIL" type="xsd:string" minOccurs="0" />
					<xsd:element name="numeroPagina" type="xsd:string"
						minOccurs="0" />
					<xsd:element name="tamanioPagina" type="xsd:string"
						minOccurs="0" />
				</xsd:sequence>
			</xsd:complexType>
		</xsd:schema>
		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
			xmlns:p26="http://www.osde.com.ar/PUB/CCG/Empresas_Gen1">
			<xsd:import namespace="http://www.osde.com.ar/PUB/CCG/Empresas_Gen1" />
			<xsd:element name="envelope" type="p26:envelope" />
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="envelope">
		<wsdl:documentation />
		<wsdl:part name="envelope" element="envelope" />
	</wsdl:message>
	<wsdl:message name="p2.envelope">
		<wsdl:documentation />
		<wsdl:part name="envelope" element="envelope" />
	</wsdl:message>
	<wsdl:portType name="ConEmpresasGenerica1_Out">
		<wsdl:documentation />
		<wsdl:operation name="ConEmpresasGenerica1_Out">
			<wsdl:documentation />
			<wsp:Policy>
				<wsp:PolicyReference URI="#OP_ConEmpresasGenerica1_Out" />
			</wsp:Policy>
			<wsdl:input message="p1:envelope" />
			<wsdl:output message="p1:p2.envelope" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="ConEmpresasGenerica1_OutBinding" type="p1:ConEmpresasGenerica1_Out">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="ConEmpresasGenerica1_Out">
			<soap:operation soapAction="http://sap.com/xi/WebService/soap1.1" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="ConEmpresasGenerica1_OutService">
		<wsdl:port name="ConEmpresasGenerica1_OutPort" binding="p1:ConEmpresasGenerica1_OutBinding">
			<soap:address
				location="http://localhost:8970/mockConEmpresasGenerica1_OutBinding" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
